<form [formGroup]="form" (ngSubmit)="onSubmitted()">
    <h2>Sign in</h2>
    <div class="input-forms">
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" (keydown)="filterSpaces($event)">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" (keydown)="filterSpaces($event)">
        </div>
    </div>
    <button>Submit</button>
</form>