<div class="card-container">
    <div class="icon-container">
        <img [src]="IconPath">
    </div>
    <div class="info">
        <p><strong>Type: </strong> {{insurance().insuranceType.name}}</p>
        <p><strong>Amount: </strong> {{insurance().insuranceSum | currency: '$'}}</p>
        <p><strong>Tariff rate: </strong> {{insurance().tariffRate}}%</p>
        <p><strong>Created at: </strong>{{insurance().createdAt | date: 'short'}}</p>
    </div>
    <div class="actions">
        <button class="more-info-button" [routerLink]="['/insurances', insurance()._id]">More info</button>
        <button class="secondary_button" (click)="onRemoveInsurance()"><img src="delete-icon.png" alt="delete-icon" class="delete-icon"></button>
    </div>
</div>